.cityItem,
.cityItem:link,
.cityItem:visited {
  display: flex;
  gap: 1.6rem;
  align-items: center;

  .cityItem {
  background-color: #2a2a2a;   /* dark gray */
  border-radius: 7px;
  padding: 1rem 2rem;
  border-left: 5px solid #00c46a; /* green accent */
  cursor: pointer;

  color: #f5f5f5;              /* light text */
  text-decoration: none;
}

.cityItem--active {
  border: 2px solid #00c46a;
  border-left: 5px solid #00c46a;
}
}

.emoji {
  font-size: 2.6rem;
  line-height: 1;
}

.name {
  font-size: 1.7rem;
  font-weight: 600;
  margin-right: auto;
}

.date {
  font-size: 1.5rem;
}

.deleteBtn {
  height: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s;
}

.deleteBtn:hover {
  background-color: var(--color-brand--1);
  color: var(--color-dark--1);
}
