.Home {
  background-image: linear-gradient(
      rgba(36, 42, 46, 0.8),
      rgba(36, 42, 46, 0.8)
    ),
    url(" https://images.pexels.com/photos/346885/pexels-photo-346885.jpeg");
  background-size: cover;
  background-position: center;
}